Repository googleads/google-ads-python, pull requests merged in 2021-04, with the labels that each got.

#394 Normalize datatypes of customer_ids_to_child_accounts dict to integers
  examples/account_management/get_account_hierarchy.py
Labels: code example

#405 Add http proxy support
  google-ads.yaml
  google/ads/googleads/client.py
  google/ads/googleads/config.py
  google/ads/googleads/oauth2.py
  tests/client_test.py
  tests/oauth2_test.py
Labels: enhancement

#406 Remove add_sitelink example in favor of extensions/add_sitelinks
  examples/advanced_operations/add_sitelink.py
Labels: code example

#392 Add a Bug Report Issue Template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: maintenance, usability
